.column {
    float: left;
    width: 50%;
}
.area {
    float: left;
    width: 100%;
    border:1px solid #000000;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Pretty Table */
tbody {
    width: max-content;
}

table {
    border-collapse: collapse;
    color: black;
    font-size: 18px;
    text-align: left;
    overflow-y: scroll;
    display: block;
    max-height: 500px;
}

th {
    background-color: #2f60ff;
    color: white;
    padding: 9.3px;
}

th:hover:not(#numberOfPointsLabel) {
    background-color: #2f60ff;
    color: rgb(171, 171, 171);
    padding: 9.3px;
}

th.toggled {
    background-color: #2f60ff;
    color: rgb(171, 171, 171);
    padding: 9.3px;
}

tr {
    text-align: center;
}

/* Every other row is grey */
tr:nth-child(even) {background-color: #f2f2f2}

/* Input Formatting like buttons */
.input {
    border: none;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
}

.select {
    border: none;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
}

/* Button Formatting */
.button {
    border: none;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
}

.button:hover {
    background-color: #2f60ff;
    color: white;
}

.bar-item {
    padding: 8px 16px;
    float: left;
    width: 25%;
    border: none;
    outline: none;
    display: block;
}

.bar-item:hover {
    background-color: #2f60ff;
    color: white;
}

.bar-item-active {
    background-color: #2f60ff;
    color: white;
}

/* Formatting like terminal */
pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/* Note in terminal */
span.note {
    color: #999;
    font-size: 14px;
}